@import '~antd/dist/antd.css';

.login-content {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../../assets/images/bg.png) #eee no-repeat center;
    background-size: cover;
}
/* form 居中显示 */
.login-form {
    width: 320px;
    position: absolute;
    z-index: 30;
    left: 50%;
    margin-left: -160px;
    padding: 10px;
    top: 30%;
    height: 260px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-title {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}
.login-btn {
    width: 100%;
}