html,body{
    width: 100%;
    height: 100%;
}
html,body,div,span,p,img,ul,li,dl,dt,dd,table,input,textarea,form,button{
    margin: 0;
    padding: 0;
}
#root {
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
}